#ritare-canvas {
	border-style:solid;
	border-color:black;
	border-width:2px;
	float:left;
	clear:none;
	margin-bottom:4px;
}

#selectors {
	float:left;
}

#selectors input {
	color:white;
}

#ritare button {
	clear:right;
	margin-left:6px;
}

#ritare label {
	margin:3px;
}

#ritare input[type="checkbox"] {
	margin:2px;
	margin-top:5px;
}

#widthselect {
	float:left;
}

#widthlabel {
	clear:left;
}

#ritare input[type="number"] {
	width:30px;
	margin:2px;
	-moz-appearance:textfield;
}

#ritare input[type="number"]::-webkit-outer-spin-button,
#ritare input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

#ritare span {
	float:left;
	margin:3px;
	margin-left:3px;
	font-family:sans-serif;
}
